
@{
    ViewBag.Title = "Login";
}

<br /><br /><br />
<form name="login" action="/Authentication/LoginUser" method="POST">
    <input type="text" name="username" placeholder="username" class="form-control center-block" required />
    <br />
    <input type="password" name="password" placeholder="password" class="form-control center-block" required />
    <br />
    <input class="btn center-block" type="submit" value="Login" />
</form>



